 #main {
    margin-top: -20px;
}    
        .inner-wrap .mbt {
	max-width: 1200px;
	margin: 40px auto 0 auto;
}
.inner-wrap .container {
	width: 100% !important;
	padding: 0;
}
.inner-wrap .sectionBlock {
	border: none;
	border-radius: 0;
	font-size: 14px;
	margin-bottom: 0;
}
.inner-wrap .sectionContent {
	padding: 0;
}
.inner-wrap .clear {
	display: none;
}
header {
	font-size: 13px;
}
 .content-center {
  width: 75%;
  max-width: 800px;
  text-align: center;
  margin: auto;
  margin-top: 80px; }

.info-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 24px;
  margin-bottom: 80px;
  padding: 24px;
  border-radius: 6px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.08); }
  .info-flex h2 {
    color: #3A4352; }
  .info-flex p {
    color: #687386;
    line-height: 2em;
    max-width: 800px;
    margin: auto; }

#insurance {
  background-image: url(content/yellow-insurance.png);
  background-size: 100%;
  background-position: bottom;
  transition-timing-function: ease-in-out;
  transition-duration: .3s; }

#fleet {
  background-image: url(content/fleet.jpg); }

#finance {
  background-image: url(content/finance-1.png);
  background-position: bottom;
  background-size: 100%; }

#rental {
  background-image: url(content/rental-2.png);
  background-size: 100%; }

#dealer {
  background-image: url(content/dealer.jpg);
  background-position: 0 150px;
  background-size: 100%; }

#sellerapp {
  background-image: url(content/sellers_devices.png);
  background-position: 0 250px;
  background-size: 90%;
  background-position-x: center; }

.hub-tiles {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  max-width: 85%;
  margin: auto;
  margin-top: 80px; }
  .hub-tiles .hub-item {
    width: 45%;
    height: 540px;
    margin: auto;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.08);
    margin-bottom: 40px;
    padding: 24px;
    align-content: center; }
    .hub-tiles .hub-item h1 {
      text-align: center;
      margin-top: 16px;
      color: #3A4352;
      font-weight: 600 !important;
      font-size: 24px; }
    .hub-tiles .hub-item p {
      text-align: center;
      margin-bottom: 24px; }
    .hub-tiles .hub-item .learn-more {
      justify-content: center;
      text-align: center;
      width: 25%;
      margin: auto;
      background-color: #0D5DB8;
      padding: 8px;
      border-radius: 6px;
      position: relative;
      animation-timing-function: ease-in-out;
      animation-duration: .4s;
      color: white;
      font-weight: 600;
      text-decoration: none; }
      .hub-tiles .hub-item .learn-more:hover {
        opacity: 92%; }
      .hub-tiles .hub-item .learn-more a {
        text-align: center !important;
        color: white !important;
        font-weight: 600 !important; }

.seller-hero {
  height: 350px;
  width: 100%;
  background-image: url(content/seller-hero.svg);
  background-size: cover;
  background-repeat: no-repeat; }
  .seller-hero h1 {
    font-size: 32px;
    line-height: 2em;
    color: white;
    font-weight: 700;
    padding-top: 120px;
    margin-left: 80px; }
  .seller-hero h2 {
    font-size: 24px;
    color: white;
    font-weight: 300;
    margin-left: 80px; }

.insurance-hero {
  height: 350px;
  width: 100%;
  background-image: url(content/insurance-hero.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center; }
        
  .insurance-hero h1 {
    font-size: 32px;
    color: white;
    font-weight: 700;
    padding-top: 120px;
    margin-left: 80px; }
  .insurance-hero h2 {
    color: white;
    font-weight: 300;
    margin-left: 80px; }

.fleet-hero {
  height: 350px;
  width: 100%;
  background-image: url(content/fleet.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 600px -250px !important;}
        
  .fleet-hero h1 {
    font-size: 32px;
    color: white;
    font-weight: 700;
    padding-top: 120px;
    margin-left: 80px; }
  .fleet-hero h2 {
    color: white;
    font-weight: 300;
    margin-left: 80px; }
        
.finance-hero {
  height: 350px;
  width: 100%;
  background-image: url(content/hubtiles-finance.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;}
        
  .finance-hero h1 {
    font-size: 32px;
    color: white;
    font-weight: 700;
    padding-top: 120px;
    margin-left: 80px; }
  .finance-hero h2 {
    color: white;
    font-weight: 300;
    margin-left: 80px; }
        
.rental-hero {
  height: 350px;
  width: 100%;
  background-image: url(content/hubtiles-rental.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;}
        
  .rental-hero h1 {
    font-size: 32px;
    color: white;
    font-weight: 700;
    padding-top: 120px;
    margin-left: 80px; }
  .rental-hero h2 {
    color: white;
    font-weight: 300;
    margin-left: 80px; }
        
.dealer-hero {
  height: 350px;
  width: 100%;
  background-image: url(content/hubtiles-dealer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;}
        
  .dealer-hero h1 {
    font-size: 32px;
    color: white;
    font-weight: 700;
    padding-top: 120px;
    margin-left: 80px; }
  .dealer-hero h2 {
    color: white;
    font-weight: 300;
    margin-left: 80px; }
        
.seller-navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 75%;
  margin: auto;
  background-color: #0D5DB8; }
  .seller-navbar h3 {
    font-size: 15px;
    color: white;
    font-weight: 600;
    width: 15%;
    vertical-align: middle;
    margin: 8px !important;
    text-align: center; }
  .seller-navbar a {
    color: white; }

.seller-gradient {
  background: #0d5db8;
  background: linear-gradient(90deg, #0d5db8 0%, rgba(13, 93, 184, 0.7525385154) 50%, rgba(13, 93, 184, 0.3995973389) 60%, rgba(13, 93, 184, 0.2035189076) 80%, rgba(229, 243, 254, 0) 100%);
  margin: 0;
  padding: 0;
  height: 100%; }

.insurance-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1200px;
  margin: auto;
  margin-top: 120px; }
  .insurance-flex h1 {
    line-height: 1.6em;
    margin-bottom: 24px; }
  .insurance-flex p {
    color: #687386;
    line-height: 2em;
    font-size: 15px !important; }
  .insurance-flex li {
    color: #0D5DB8;
    line-height: 2em;
    padding-left: 16px; }

.insurance-item-one {
  flex: 1;
  width: 50%;
  max-width: 500px; }

.insurance-item-two {
  flex: 1;
  width: 50%; }

.tile-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  margin-top: 80px; }

.tile-item {
  background-color: white;
  border-radius: 6px;
  width: 45%;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.08);
  margin-bottom: 40px; }
  .tile-item img {
    height: 40%;
    width: 100% !important;
    object-fit: cover;
    object-position: center;
    border-radius: 6px 6px 0 0;
    border: none; }
  .tile-item h2 {
    margin: 24px 0 24px 24px;
    color: #3A4352 !important;
    font-weight: 600 !important; }
  .tile-item ul {
    margin-left: 32px;
    margin-bottom: 24px; }
  .tile-item li {
    padding: 0 24px 0 16px;
    line-height: 2em;
    color: #687386; }

.card-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 1200px;
  flex-wrap: wrap;
  margin: auto; }
  .card-flex h2 {
    margin-left: 32px;
    color: #3A4352 !important;
    font-weight: 500 !important; }
  .card-flex .item {
    width: 45%;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.08);
    margin-bottom: 40px;
    padding-bottom: 32px; }
    .card-flex .item img {
      margin-left: 32px;
      margin-top: 40px;
      margin: 40px 0 0 32px; }
    .card-flex .item ul {
      margin-left: 40px;
      padding-right: 32px; }
    .card-flex .item li {
      line-height: 2em; }
    .card-flex .item a {
      margin-left: 32px;
      font-weight: 600 !important; }

@media only screen and (max-width: 1024px) {
  .insurance-flex {
    flex-direction: column-reverse;
    align-items: center; }

  .seller-navbar h3 {
    font-size: 15px;
    color: white;
    font-weight: 500;
    padding: 8px 24px 4px 24px;
    vertical-align: middle; }

  .hub-tiles {
    flex-direction: column; }
    .hub-tiles .hub-item {
      width: 85%;
      margin: auto;
      margin-bottom: 24px; } }
@media only screen and (max-width: 768px) {
    .tile-item ul {
        margin-left: 8px;
    }
    
    .tile-item li {
        padding-left: 8px;
    }
    
  .seller-navbar {
    flex-direction: column; }
    .seller-navbar h3 {
      width: 100%;
      font-weight: 600;
      padding: 0; }

  .tile-flex {
    flex-direction: column; }
    .tile-flex .tile-item {
      width: 90%;
      margin: auto;
      margin-bottom: 24px; }

  .card-flex {
    flex-direction: column; }
    .card-flex .item {
      width: 90%;
      margin: auto;
      margin-bottom: 24px; }

  .insurance-flex {
    margin-top: 24px; }

  .insurance-item-one {
    width: 85%;
    margin: auto; }

  .insurance-item-two {
    width: 75%;
    margin: auto; }

  .insurance-hero {
    background-position: center center; }
    .insurance-hero h1 {
      text-align: center;
      margin: 0; }
    .insurance-hero h2 {
      text-align: center;
      margin: 0;
      width: 75%;
      margin: auto; }

  .seller-gradient {
    background: #0d5db8;
    background: linear-gradient(180deg, #0d5db8 0%, rgba(13, 93, 184, 0.7525385154) 50%, rgba(13, 93, 184, 0.3995973389) 60%, rgba(13, 93, 184, 0.2035189076) 80%, rgba(229, 243, 254, 0) 100%); }

  .info-flex {
    width: 72%; } }
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 18px;
        text-align: center;
    }
  .hub-tiles .hub-item {
    height: 500px; }
    .hub-tiles .hub-item .learn-more {
      width: 40%; }

  .seller-hero h1 {
    padding-top: 120px;
    margin-left: 0;
    text-align: center; }
  .seller-hero h2 {
    margin-left: 0;
    text-align: center; }
    
      .fleet-hero h1 {
    padding-top: 120px;
    margin-left: 0;
    text-align: center; }
  .fleet-hero h2 {
    margin-left: 0;
    text-align: center; }
    
    .finance-hero h1 {
    padding-top: 120px;
    margin-left: 0;
    text-align: center; }
  .finance-hero h2 {
    margin-left: 0;
    text-align: center; }
    
        .rental-hero h1 {
    padding-top: 120px;
    margin-left: 0;
    text-align: center; }
  .rental-hero h2 {
    margin-left: 0;
    text-align: center; }
    
        .dealer-hero h1 {
    padding-top: 120px;
    margin-left: 0;
    text-align: center; }
  .dealer-hero h2 {
    margin-left: 0;
    text-align: center; }
        
        .fleet-hero {
            background-size: cover;
            background-position: center !important;
        }
        }
@media only screen and (max-width: 500px) {
  .hub-tiles .hub-item {
    height: 400px; } }

/*# sourceMappingURL=seller.css.map */
